

<img src="http://media.giphy.com/media/5ftsmLIqktHQA/giphy.gif" id="warning"class="hidden">
<h3>Ah ah ah...you didnt say the magic word.</h3>
<button class="hidden" id="retry">Try Again?</button>
<button class="hidden" id="giveup">Go Back?</button>
<div id="add-student" class="hidden">
<h1>Make Your Profile!</h1>	
	<%= form_for @student do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= f.label :email %>
	<%= f.email_field :email %>
	<%= f.label :website %>
	<%= f.text_field :website %>
	<%= f.label :github, "Github username" %>
	<%= f.text_field :github %>
	<%= f.label :twitter %>
	<%= f.text_field :twitter %>
	<%= f.label :linkedin %>
	<%= f.text_field :linkedin %>
	<%= f.label :blurb %>
	<%= f.text_field :blurb %>
	<%= f.label :picture %>
	<%= f.text_field :picture %>
	<%= f.submit %>
	<% end %>
</div>

<script type="text/javascript">addStudent();</script>
