

<img src="http://media.giphy.com/media/5ftsmLIqktHQA/giphy.gif" id="warning"class="hidden">
<h3>Ah ah ah...you didnt say the magic word.</h3>
<button class="hidden" id="retry">Try Again?</button>
<button class="hidden" id="giveup">Go Back?</button>
<div id="add-student" class="hidden">
<h4>Make Your Profile!</h4>
	<%= form_for @student do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name, :placeholder => "Remy leRouge" %>
	<%= f.label :email %>
	<%= f.email_field :email, :placeholder => "remy@schmee.com" %>
	<%= f.label :website %>
	<%= f.text_field :website, :placeholder => "http://tunr.io.ly"%>
	<%= f.label :github, "Github username" %>
	<%= f.text_field :github, :placeholder => "remydog" %>
	<%= f.label :twitter, "Twitter URL" %>
	<%= f.text_field :twitter, :placeholder => "http://twitter.com/remylerouge" %>
	<%= f.label :blurb %>
	<%= f.text_area :blurb, :placeholder => "I'm a dog who hangs out with Tea all day. We have lots of fun. Sometimes I slap her in the face if she's falling asleep. She gives me treats for this. I get treats for slapping tea." %>
	<%= f.label :picture %>
	<%= f.text_field :picture, :placeholder => "http://dreamboxphotography.com/images/arrays/remy.jpg" %>
	<%= f.submit %>
	<% end %>
</div>

<script type="text/javascript">addStudent();</script>
